<a href="https://colab.research.google.com/github/khanghoang1210/data-engineer-labs/blob/master/ExtractTransformLoad_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Extract Transform Load (ETL) Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Read CSV and JSON file types.
*   Extract data from the above file types.
*   Transform data.
*   Save the transformed data in a ready-to-load format which data engineers can use to load into an RDBMS.

Import the required modules and functions

In [ ]:
import glob                         # this module helps in selecting files 
import pandas as pd                 # this module helps in processing CSV files
import xml.etree.ElementTree as ET  # this module helps in processing XML files.
from datetime import datetime

## Download Files

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip

--2023-02-09 14:41:14--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2707 (2.6K) [application/zip]
Saving to: ‘source.zip’

source.zip          100%[===================>]   2.64K  --.-KB/s    in 0s

2023-02-09 14:41:14 (365 MB/s) - ‘source.zip’ saved [2707/2707]

## Unzip Files

In [ ]:
!unzip source.zip

Archive:  source.zip
  inflating: source3.json
  inflating: source1.csv
  inflating: source2.csv
  inflating: source3.csv
  inflating: source1.json
  inflating: source2.json
  inflating: source1.xml
  inflating: source2.xml
  inflating: source3.xml

## Set Paths

In [ ]:
tmpfile    = "temp.tmp"               # file used to store all extracted data
logfile    = "logfile.txt"            # all event logs will be stored in this file
targetfile = "transformed_data.csv"   # file where transformed data is stored

## Extract

### CSV Extract Function

In [ ]:
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

### JSON Extract Function

In [ ]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process,lines=True)
    return dataframe

### XML Extract Function

In [ ]:
def extract_from_xml(file_to_process):
    dataframe = pd.DataFrame(columns=["name", "height", "weight"])
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        name = person.find("name").text
        height = float(person.find("height").text)
        weight = float(person.find("weight").text)
        dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
    return dataframe

### Extract Function

In [ ]:
def extract():
    extracted_data = pd.DataFrame(columns=['name','height','weight']) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
        
    #process all json files
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    
    #process all xml files
    for xmlfile in glob.glob("*.xml"):
        extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
        
    return extracted_data

## Transform

The transform function does the following tasks.

1.  Convert height which is in inches to millimeter
2.  Convert weight which is in pounds to kilograms

In [ ]:
def transform(data):
        #Convert height which is in inches to millimeter
        #Convert the datatype of the column into float
        #data.height = data.height.astype(float)
        #Convert inches to meters and round off to two decimals(one inch is 0.0254 meters)
        data['height'] = round(data.height * 0.0254,2)
        
        #Convert weight which is in pounds to kilograms
        #Convert the datatype of the column into float
        #data.weight = data.weight.astype(float)
        #Convert pounds to kilograms and round off to two decimals(one pound is 0.45359237 kilograms)
        data['weight'] = round(data.weight * 0.45359237,2)
        return data

## Loading

In [ ]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

## Logging

In [ ]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running ETL Process

In [ ]:
log("ETL Job Started")

In [ ]:
log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")
extracted_data

     name  height  weight
0    alex   65.78  112.99
1    ajay   71.52  136.49
2   alice   69.40  153.03
3    ravi   68.22  142.34
4     joe   67.79  144.30
5    alex   65.78  112.99
6    ajay   71.52  136.49
7   alice   69.40  153.03
8    ravi   68.22  142.34
9     joe   67.79  144.30
10   alex   65.78  112.99
11   ajay   71.52  136.49
12  alice   69.40  153.03
13   ravi   68.22  142.34
14    joe   67.79  144.30
15   jack   68.70  123.30
16    tom   69.80  141.49
17  tracy   70.01  136.46
18   john   67.90  112.37
19   jack   68.70  123.30
20    tom   69.80  141.49
21  tracy   70.01  136.46
22   john   67.90  112.37
23   jack   68.70  123.30
24    tom   69.80  141.49
25  tracy   70.01  136.46
26   john   67.90  112.37
27  simon   67.90  112.37
28  jacob   66.78  120.67
29  cindy   66.49  127.45
30   ivan   67.62  114.14
31  simon   67.90  112.37
32  jacob   66.78  120.67
33  cindy   66.49  127.45
34   ivan   67.62  114.14
35  simon   67.90  112.37
36  jacob   66.78  120.67
37  cindy   66.49  127.45
38   ivan   67.62  114.14

In [ ]:
log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")
transformed_data

        car_model year_of_manufacture     price    fuel
0            ritz                2014   5000.00  Petrol
1             sx4                2013   7089.55  Diesel
2            ciaz                2017  10820.90  Petrol
3         wagon r                2011   4253.73  Petrol
4           swift                2014   6865.67  Diesel
5   vitara brezza                2018  13805.97  Diesel
6            ciaz                2015  10074.63  Petrol
7         s cross                2015   9701.49  Diesel
8            ciaz                2016  13059.70  Diesel
9            ciaz                2015  11119.40  Diesel
10       alto k10                2016   4253.73  Petrol
11          ignis                2017   7313.43  Petrol
12            sx4                2011   6567.16  Petrol
13       alto k10                2014   3731.34  Petrol
14        wagon r                2013   4328.36  Petrol
15          swift                2011   4477.61  Petrol
16          swift                2013   6194.03  Petrol
17          swift                2017   8955.22  Petrol
18       alto k10                2010   2910.45  Petrol
19           ciaz                2015  11119.40  Diesel
20       alto 800                2017   4253.73  Petrol
21           ciaz                2015  10223.88  Diesel
22           ciaz                2015  11194.03  Petrol
23         ertiga                2015   9104.48  Petrol
24          dzire                2009   3358.21  Petrol
25         ertiga                2016  11567.16  Diesel
26         ertiga                2015  10820.90  Diesel
27         ertiga                2016  11567.16  Diesel
28        wagon r                2015   4850.75     CNG
29            sx4                2010   3955.22  Petrol
30       fortuner                2012  22238.81  Diesel
31       fortuner                2015  34328.36  Diesel
32         innova                2017  26865.67  Diesel
33       fortuner                2013  23880.60  Diesel
34         innova                2005   4104.48  Petrol
35  corolla altis                2009   5373.13  Petrol
36    etios cross                2015   6716.42  Petrol
37  corolla altis                2010   7089.55  Petrol
38        etios g                2014   6119.40  Petrol
39       fortuner                2014  29835.82  Diesel
40         baleno                2016   8731.34  Petrol
41       alto k10                2014   3805.97  Petrol
42            sx4                2008   2910.45  Petrol
43          dzire                2014   8208.96  Diesel
44           omni                2012   1865.67  Petrol
45           ciaz                2014  11194.03  Petrol
46           ritz                2013   3955.22  Petrol
47        wagon r                2006   1567.16  Petrol
48         ertiga                2015   8656.72  Petrol
49           ciaz                2017  11567.16  Petrol
50           ritz                2012   4626.87  Diesel
51           ritz                2011   3507.46  Petrol
52          swift                2014   7388.06  Diesel
53         ertiga                2014   8955.22  Diesel
54          dzire                2014   8208.96  Diesel
55            sx4                2011   4402.99     CNG
56          dzire                2015   6940.30  Petrol
57            800                2003    522.39  Petrol
58       alto k10                2016   4477.61  Petrol
59            sx4                2003   3358.21  Petrol

In [ ]:
log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

In [ ]:
log("ETL Job Ended")

# Exercise

Using the example above complete the exercise below.

## Download Files

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/datasource.zip

--2023-02-09 14:58:16--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/datasource.zip
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4249 (4.1K) [application/zip]
Saving to: ‘datasource.zip’

datasource.zip      100%[===================>]   4.15K  --.-KB/s    in 0s

2023-02-09 14:58:17 (556 MB/s) - ‘datasource.zip’ saved [4249/4249]

## Unzip Files

In [ ]:
!unzip datasource.zip -d dealership_data

Archive:  datasource.zip
  inflating: dealership_data/used_car_prices1.csv
  inflating: dealership_data/used_car_prices2.csv
  inflating: dealership_data/used_car_prices3.csv
  inflating: dealership_data/used_car_prices1.json
  inflating: dealership_data/used_car_prices2.json
  inflating: dealership_data/used_car_prices3.json
  inflating: dealership_data/used_car_prices1.xml
  inflating: dealership_data/used_car_prices2.xml
  inflating: dealership_data/used_car_prices3.xml

## About the Data

The file `dealership_data` contains CSV, JSON, and XML files for used car data which contain features named `car_model`, `year_of_manufacture`, `price`, and `fuel`.

## Set Paths

In [ ]:
tmpfile    = "dealership_temp.tmp"               # file used to store all extracted data
logfile    = "dealership_logfile.txt"            # all event logs will be stored in this file
targetfile = "dealership_transformed_data.csv"   # file where transformed data is stored

## Extract

### Question 1: CSV Extract Function

In [ ]:
# Add the CSV extract function below
def extract_from_csv(file_to_process):
  dataframe = pd.read_csv(file_to_process)
  return dataframe

<details><summary>Click here for the solution</summary>

```
    
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe
```

</details>

### Question 2: JSON Extract Function

In [ ]:
# Add the JSON extract function below
def extract_from_json(file_to_process):
  dataFrame=pd.read_json(file_to_process,lines=True)
  return dataFrame

<details><summary>Click here for the solution</summary>

```
    
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process,lines=True)
    return dataframe
```

</details>

### Question 3: XML Extract Function

In [ ]:
# Add the XML extract function below, it is the same as the xml extract function above but the column names need to be renamed.
def extract_from_xml(file_to_process):  
  dataFrame = pd.DataFrame(columns=['car_model','year_of_manufacture','price','fuel'])
  tree = ET.parse(file_to_process)
  root = tree.getroot()
  for person in root:
    car_model=person.find("car_model").text
    year_of_manufacture=int(person.find("year_of_manufacture").text)
    price=float(person.find("price").text)
    fuel=person.find("fuel").text
    dataFrame=dataFrame.append({"car_model":car_model,"year_of_manufacture":year_of_manufacture,"price":price,"fuel":fuel},ignore_index=True)

<details><summary>Click here for the solution</summary>

```
    
def extract_from_xml(file_to_process):
    dataframe = pd.DataFrame(columns=['car_model','year_of_manufacture','price', 'fuel'])
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        dataframe = dataframe.append({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, ignore_index=True)
    return dataframe
```

</details>

### Question 4: Extract Function

Call the specific extract functions you created above by replacing the `ADD_FUNCTION_CALL` with the proper function call.

In [ ]:
def extract():
    extracted_data = pd.DataFrame(columns=['car_model','year_of_manufacture','price', 'fuel']) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("dealership_data/*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
        
    #process all json files
    for jsonfile in glob.glob("dealership_data/*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    
    #process all xml files
    for xmlfile in glob.glob("dealership_data/*.xml"):
        extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
        
    return extracted_data

<details><summary>Click here for the solution</summary>

```
    
def extract():
    extracted_data = pd.DataFrame(columns=['car_model','year_of_manufacture','price', 'fuel']) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("dealership_data/*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
        
    #process all json files
    for jsonfile in glob.glob("dealership_data/*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    
    #process all xml files
    for xmlfile in glob.glob("dealership_data/*.xml"):
        extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
        
    return extracted_data
```

</details>

## Transform

### Question 5: Transform

Round the `price` columns to 2 decimal places

In [ ]:
# Add the transform function below
def transform(data):
  data['price']=round(data.price,2)
  return data

<details><summary>Click here for the solution</summary>

```

def transform(data):
        data['price'] = round(data.price, 2)
        return data
```

</details>

## Loading

### Question 6: Load

In [ ]:
# Add the load function below
def load(targerfile,data_to_load):
  data_to_load.to_csv(targetfile)

<details><summary>Click here for the solution</summary>

```

def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)  
```

</details>

## Logging

### Question 7: Log

Make sure to change the name of the logfile to the one specified in the set paths section. Change the timestamp order to Hour-Minute-Second-Monthname-Day-Year.

In [ ]:
# Add the log function below
def log(message):
  timestamp_format='%I:%M:%S-%h-%d-%Y'
  now=datetime.now()
  timestamp=now.strftime(timestamp_format)
  with open ("logfile.txt","a") as f:
    f.write(timestamp + ',' + message + '\n')

<details><summary>Click here for the solution</summary>

```

def log(message):
    timestamp_format = '%H:%M:%S-%h-%d-%Y' #Hour-Minute-Second-MonthName-Day-Year
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("dealership_logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n') 
```

</details>

## Running ETL Process

### Question 8: ETL Process

Run all functions to extract, transform, and load the data. Make sure to log all events using the `log` function. Place your code under each comment.

In [ ]:
# Log that you have started the ETL process
log('ETL job started')

# Log that you have started the Extract step
log('Extract phase started')
# Call the Extract function
extracted_data=extract()
# Log that you have completed the Extract step
print(extracted_data)
log('Extract phase ended')

# Log that you have started the Transform step
log("Transform phase stared")
# Call the Transform function
transformed_data=transform(extracted_data)
# Log that you have completed the Transform step
print(transformed_data)
log('Transform phase ended')

# Log that you have started the Load step
log("Load phase started")
# Call the Load function
load(targetfile,transformed_data)
# Log that you have completed the Load step
log('Load phase ended')

# Log that you have completed the ETL process
log("ETL job ended")

        car_model year_of_manufacture         price    fuel
0            ritz                2014   5000.000000  Petrol
1             sx4                2013   7089.552239  Diesel
2            ciaz                2017  10820.895522  Petrol
3         wagon r                2011   4253.731343  Petrol
4           swift                2014   6865.671642  Diesel
5   vitara brezza                2018  13805.970149  Diesel
6            ciaz                2015  10074.626866  Petrol
7         s cross                2015   9701.492537  Diesel
8            ciaz                2016  13059.701493  Diesel
9            ciaz                2015  11119.402985  Diesel
10       alto k10                2016   4253.731343  Petrol
11          ignis                2017   7313.432836  Petrol
12            sx4                2011   6567.164179  Petrol
13       alto k10                2014   3731.343284  Petrol
14        wagon r                2013   4328.358209  Petrol
15          swift                2011   4477.611940  Petrol
16          swift                2013   6194.029851  Petrol
17          swift                2017   8955.223881  Petrol
18       alto k10                2010   2910.447761  Petrol
19           ciaz                2015  11119.402985  Diesel
20       alto 800                2017   4253.731343  Petrol
21           ciaz                2015  10223.880597  Diesel
22           ciaz                2015  11194.029851  Petrol
23         ertiga                2015   9104.477612  Petrol
24          dzire                2009   3358.208955  Petrol
25         ertiga                2016  11567.164179  Diesel
26         ertiga                2015  10820.895522  Diesel
27         ertiga                2016  11567.164179  Diesel
28        wagon r                2015   4850.746269     CNG
29            sx4                2010   3955.223881  Petrol
30       fortuner                2012  22238.805970  Diesel
31       fortuner                2015  34328.358209  Diesel
32         innova                2017  26865.671642  Diesel
33       fortuner                2013  23880.597015  Diesel
34         innova                2005   4104.477612  Petrol
35  corolla altis                2009   5373.134328  Petrol
36    etios cross                2015   6716.417910  Petrol
37  corolla altis                2010   7089.552239  Petrol
38        etios g                2014   6119.402985  Petrol
39       fortuner                2014  29835.820896  Diesel
40         baleno                2016   8731.343284  Petrol
41       alto k10                2014   3805.970149  Petrol
42            sx4                2008   2910.447761  Petrol
43          dzire                2014   8208.955224  Diesel
44           omni                2012   1865.671642  Petrol
45           ciaz                2014  11194.029851  Petrol
46           ritz                2013   3955.223881  Petrol
47        wagon r                2006   1567.164179  Petrol
48         ertiga                2015   8656.716418  Petrol
49           ciaz                2017  11567.164179  Petrol
50           ritz                2012   4626.865672  Diesel
51           ritz                2011   3507.462687  Petrol
52          swift                2014   7388.059701  Diesel
53         ertiga                2014   8955.223881  Diesel
54          dzire                2014   8208.955224  Diesel
55            sx4                2011   4402.985075     CNG
56          dzire                2015   6940.298507  Petrol
57            800                2003    522.388060  Petrol
58       alto k10                2016   4477.611940  Petrol
59            sx4                2003   3358.208955  Petrol
        car_model year_of_manufacture     price    fuel
0            ritz                2014   5000.00  Petrol
1             sx4                2013   7089.55  Diesel
2            ciaz                2017  10820.90  Petrol
3         wagon r                2011   4253.73  Petrol
4           swift                2014   6865.67  Diesel
5   vitara brezza                2018  13805.97  Diesel
6            ciaz                2015  10074.63  Petrol
7         s cross                2015   9701.49  Diesel
8            ciaz                2016  13059.70  Diesel
9            ciaz                2015  11119.40  Diesel
10       alto k10                2016   4253.73  Petrol
11          ignis                2017   7313.43  Petrol
12            sx4                2011   6567.16  Petrol
13       alto k10                2014   3731.34  Petrol
14        wagon r                2013   4328.36  Petrol
15          swift                2011   4477.61  Petrol
16          swift                2013   6194.03  Petrol
17          swift                2017   8955.22  Petrol
18       alto k10                2010   2910.45  Petrol
19           ciaz                2015  11119.40  Diesel
20       alto 800                2017   4253.73  Petrol
21           ciaz                2015  10223.88  Diesel
22           ciaz                2015  11194.03  Petrol
23         ertiga                2015   9104.48  Petrol
24          dzire                2009   3358.21  Petrol
25         ertiga                2016  11567.16  Diesel
26         ertiga                2015  10820.90  Diesel
27         ertiga                2016  11567.16  Diesel
28        wagon r                2015   4850.75     CNG
29            sx4                2010   3955.22  Petrol
30       fortuner                2012  22238.81  Diesel
31       fortuner                2015  34328.36  Diesel
32         innova                2017  26865.67  Diesel
33       fortuner                2013  23880.60  Diesel
34         innova                2005   4104.48  Petrol
35  corolla altis                2009   5373.13  Petrol
36    etios cross                2015   6716.42  Petrol
37  corolla altis                2010   7089.55  Petrol
38        etios g                2014   6119.40  Petrol
39       fortuner                2014  29835.82  Diesel
40         baleno                2016   8731.34  Petrol
41       alto k10                2014   3805.97  Petrol
42            sx4                2008   2910.45  Petrol
43          dzire                2014   8208.96  Diesel
44           omni                2012   1865.67  Petrol
45           ciaz                2014  11194.03  Petrol
46           ritz                2013   3955.22  Petrol
47        wagon r                2006   1567.16  Petrol
48         ertiga                2015   8656.72  Petrol
49           ciaz                2017  11567.16  Petrol
50           ritz                2012   4626.87  Diesel
51           ritz                2011   3507.46  Petrol
52          swift                2014   7388.06  Diesel
53         ertiga                2014   8955.22  Diesel
54          dzire                2014   8208.96  Diesel
55            sx4                2011   4402.99     CNG
56          dzire                2015   6940.30  Petrol
57            800                2003    522.39  Petrol
58       alto k10                2016   4477.61  Petrol
59            sx4                2003   3358.21  Petrol

<details><summary>Click here for the solution</summary>

```

log("ETL Job Started")

log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")

log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")

log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

log("ETL Job Ended")
```

</details>

In [ ]:
with open("logfile.txt", "r") as f:
    content = f.read()
    print(content)

2023-Feb-09-14:56:39,ETL Job Started
2023-Feb-09-14:56:52,Extract phase Started
2023-Feb-09-14:56:52,Extract phase Ended
2023-Feb-09-14:57:34,Transform phase Started
2023-Feb-09-14:57:34,Transform phase Ended
2023-Feb-09-14:57:53,Load phase Started
2023-Feb-09-14:57:53,Load phase Ended
2023-Feb-09-14:58:03,ETL Job Ended
15-55-58-Feb-09-2023,ETL job started
15-55-58-Feb-09-2023,Extract phase started
15-59-08-Feb-09-2023,ETL job started
15-59-08-Feb-09-2023,Extract phase started
16-03-50-Feb-09-2023,ETL job started
16-03-50-Feb-09-2023,Extract phase started
16-03-50-Feb-09-2023,Extract phase ended
16-03-50-Feb-09-2023,Transform phase stared
16-03-50-Feb-09-2023,Transform phase ended
16-03-50-Feb-09-2023,Load phase started
16-03-50-Feb-09-2023,Load phase ended
16-03-50-Feb-09-2023,ETL job ended
16-05-07-Feb-09-2023,ETL job started
16-05-07-Feb-09-2023,Extract phase started
16-05-07-Feb-09-2023,Extract phase ended
16-05-07-Feb-09-2023,Transform phase stared
16-05-07-Feb-09-2023,Transform phase ended
16-05-07-Feb-09-2023,Load phase started
16-05-07-Feb-09-2023,Load phase ended
16-05-07-Feb-09-2023,ETL job ended
16-05-42-Feb-09-2023,ETL job started
16-05-42-Feb-09-2023,Extract phase started
16-05-42-Feb-09-2023,Extract phase ended
16-05-42-Feb-09-2023,Transform phase stared
16-05-42-Feb-09-2023,Transform phase ended
16-05-42-Feb-09-2023,Load phase started
16-05-42-Feb-09-2023,Load phase ended
16-05-42-Feb-09-2023,ETL job ended
16-06-02-Feb-09-2023,ETL job started
16-06-02-Feb-09-2023,Extract phase started
16-06-03-Feb-09-2023,Extract phase ended
16-06-03-Feb-09-2023,Transform phase stared
16-06-03-Feb-09-2023,Transform phase ended
16-06-03-Feb-09-2023,Load phase started
16-06-03-Feb-09-2023,Load phase ended
16-06-03-Feb-09-2023,ETL job ended
16-07-23-Feb-09-2023,ETL job started
16-07-23-Feb-09-2023,Extract phase started
16-07-23-Feb-09-2023,Extract phase ended
16-07-23-Feb-09-2023,Transform phase stared
16-07-23-Feb-09-2023,Transform phase ended
16-07-23-Feb-09-2023,Load phase started
16-07-23-Feb-09-2023,Load phase ended
16-07-23-Feb-09-2023,ETL job ended
16-08-19-Feb-09-2023,ETL job started
16-08-19-Feb-09-2023,Extract phase started
16-08-19-Feb-09-2023,Extract phase ended
16-08-19-Feb-09-2023,Transform phase stared
16-08-53-Feb-09-2023,ETL job started
16-08-53-Feb-09-2023,Extract phase started
16-08-53-Feb-09-2023,Extract phase ended
16-08-53-Feb-09-2023,Transform phase stared
16-08-53-Feb-09-2023,Transform phase ended
16-08-53-Feb-09-2023,Load phase started
16-08-53-Feb-09-2023,Load phase ended
16-08-53-Feb-09-2023,ETL job ended
16-09-34-Feb-09-2023,Transform phase Started
16-09-34-Feb-09-2023,Transform phase Ended
16-12-46-Feb-09-2023,ETL job started
16-12-46-Feb-09-2023,Extract phase started
16-12-46-Feb-09-2023,Extract phase ended
16-12-46-Feb-09-2023,Transform phase stared
16-12-46-Feb-09-2023,Transform phase ended
16-12-46-Feb-09-2023,Load phase started
16-12-46-Feb-09-2023,Load phase ended
16-12-46-Feb-09-2023,ETL job ended
16:14:34-Feb-09-2023,ETL job started
16:14:34-Feb-09-2023,Extract phase started
16:14:34-Feb-09-2023,Extract phase ended
16:14:34-Feb-09-2023,Transform phase stared
16:14:34-Feb-09-2023,Transform phase ended
16:14:34-Feb-09-2023,Load phase started
16:14:34-Feb-09-2023,Load phase ended
16:14:34-Feb-09-2023,ETL job ended
04:17:17-Feb-09-2023,ETL job started
04:17:17-Feb-09-2023,Extract phase started
04:17:17-Feb-09-2023,Extract phase ended
04:17:17-Feb-09-2023,Transform phase stared
04:17:17-Feb-09-2023,Transform phase ended
04:17:17-Feb-09-2023,Load phase started
04:17:17-Feb-09-2023,Load phase ended
04:17:17-Feb-09-2023,ETL job ended

In [ ]:
import datetime

current_time = datetime.datetime.now()
current_time

datetime.datetime(2023, 2, 9, 16, 18, 55, 712)

## Authors

Ramesh Sannareddy

Joseph Santarcangelo

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).