<a href="https://colab.research.google.com/github/khanghoang1210/data-engineer-project/blob/master/Webscraping_Engineer_Peer_Review_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

- Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [44]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y
!pip install bs4
!pip install html5lib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.8/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from bs4) (4.6.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.8/dist-packages (1.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib) (1.15.0)

## Imports

Import any additional libraries you may need here.

In [45]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage https://en.wikipedia.org/wiki/List_of_largest_banks provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [46]:
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"
response=requests.get(url)
if response.status_code==200:
  html_data = response.content
else:
  print('Fail!!')

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [47]:
html_data[101:124]

b'guage-in-main-page-head'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [ ]:
soup = BeautifulSoup(html_data)
soup

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [72]:
#Replace the dots below
table = soup.find_all("table", {"class": "wikitable sortable mw-collapsible"})[-1]
# Extract the data from the table
data = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    bank_name = cols[1].text.strip()
    market_cap = cols[2].text.strip()
    data.append([bank_name, market_cap])
# Create a dataframe from the data
df = pd.DataFrame(data, columns=["Bank Name", "Market Cap (US$ Billion)"])

**Question 3** Display the first five rows using the `head` function.

In [73]:
df.head()

                                 Bank Name Market Cap (US$ Billion)
0                           JPMorgan Chase                   368.78
1  Industrial and Commercial Bank of China                   295.65
2                          Bank of America                   279.73
3                              Wells Fargo                   214.34
4                  China Construction Bank                   207.98


### Loading the Data

Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function.

In [77]:
#Write your code here
import json
df.to_json("bank_market_cap.json")
with open ("bank_market_cap.json",'r') as f:
  data = json.load(f)
print(data)

{'Bank Name': {'0': 'JPMorgan Chase', '1': 'Industrial and Commercial Bank of China', '2': 'Bank of America', '3': 'Wells Fargo', '4': 'China Construction Bank', '5': 'Agricultural Bank of China', '6': 'HSBC Holdings PLC', '7': 'Citigroup Inc.', '8': 'Bank of China', '9': 'China Merchants Bank', '10': 'Royal Bank of Canada', '11': 'Toronto-Dominion Bank', '12': 'Commonwealth Bank', '13': 'Itaú Unibanco', '14': 'U.S. Bancorp', '15': 'Goldman Sachs', '16': 'Banco Santander', '17': 'Morgan Stanley', '18': 'Westpac', '19': 'Mitsubishi UFJ Financial Group', '20': 'Scotiabank', '21': 'PNC Financial Services', '22': 'Bank of Communications', '23': 'BNP Paribas', '24': 'Australia and New Zealand Banking Group', '25': 'National Australia Bank', '26': 'Lloyds Banking Group', '27': 'Sumitomo Mitsui Financial Group', '28': 'Bank of Montreal', '29': 'UBS', '30': 'ING Group', '31': 'Capital One', '32': 'The Bank of New York Mellon', '33': 'China Minsheng Bank', '34': 'China CITIC Bank', '35': 'Banco Bilbao Vizcaya Argentaria', '36': 'Mizuho Financial Group', '37': 'Intesa Sanpaolo', '38': 'Crédit Agricole', '39': 'Canadian Imperial Bank of Commerce', '40': 'NatWest Group', '41': 'Barclays', '42': 'Credit Suisse', '43': 'Nordea', '44': 'Standard Chartered', '45': 'KBC Bank', '46': 'UniCredit', '47': 'Société Générale', '48': 'Deutsche Bank'}, 'Market Cap (US$ Billion)': {'0': '368.78', '1': '295.65', '2': '279.73', '3': '214.34', '4': '207.98', '5': '181.49', '6': '169.47', '7': '163.58', '8': '151.15', '9': '133.37', '10': '113.80', '11': '106.61', '12': '99.77', '13': '85.68', '14': '84.40', '15': '78.70', '16': '75.47', '17': '73.93', '18': '67.84', '19': '66.20', '20': '65.48', '21': '63.11', '22': '61.85', '23': '59.36', '24': '54.88', '25': '51.68', '26': '51.19', '27': '49.85', '28': '48.12', '29': '45.92', '30': '44.97', '31': '43.22', '32': '42.58', '33': '39.13', '34': '38.55', '35': '37.42', '36': '36.95', '37': '36.90', '38': '34.89', '39': '34.87', '40': '33.95', '41': '33.26', '42': '30.75', '43': '29.59', '44': '29.37', '45': '27.40', '46': '26.88', '47': '21.27', '48': '15.77'}}

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-07-12        | 0.2     | Appalabhaktula Hema | Corrected the code and markdown |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.